<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :plant_status %><br>
    <%= f.text_field :plant_status %>
  </div>
  <div class="field">
    <%= f.label :material_type %><br>
    <%= f.text_field :material_type %>
  </div>
  <div class="field">
    <%= f.label :procurement_type %><br>
    <%= f.text_field :procurement_type %>
  </div>
  <div class="field">
    <%= f.label :eis_start_date %><br>
    <%= f.date_select :eis_start_date %>
  </div>
  <div class="field">
    <%= f.label :setup_costing_date %><br>
    <%= f.date_select :setup_costing_date %>
  </div>
  <div class="field">
    <%= f.label :setup_purchasing_date %><br>
    <%= f.date_select :setup_purchasing_date %>
  </div>
  <div class="field">
    <%= f.label :engineering_release_date %><br>
    <%= f.date_select :engineering_release_date %>
  </div>
  <div class="field">
    <%= f.label :finalized_purchasing_date %><br>
    <%= f.date_select :finalized_purchasing_date %>
  </div>
  <div class="field">
    <%= f.label :clp_prl_date %><br>
    <%= f.date_select :clp_prl_date %>
  </div>
  <div class="field">
    <%= f.label :clp_sdl_date %><br>
    <%= f.date_select :clp_sdl_date %>
  </div>
  <div class="field">
    <%= f.label :work_scheduling %><br>
    <%= f.date_select :work_scheduling %>
  </div>
  <div class="field">
    <%= f.label :plant_costing_date %><br>
    <%= f.date_select :plant_costing_date %>
  </div>
  <div class="field">
    <%= f.label :quality_management_date %><br>
    <%= f.date_select :quality_management_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
